service: alexa

frameworkVersion: ^4.0.0

custom:
  defaultStage: dev
  defaultRegion: eu-west-3
  alias: ${self:provider.stage}

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, self:custom.defaultStage}
  region: ${opt:region, self:custom.defaultRegion}
  environment: ${file(env.json):${self:provider.stage}}
  lambdaHashingVersion: 20201221


  iamRoleStatements:
    - Effect: Allow
      Action:
        - lambda:InvokeFunction
      Resource: "*"
    - Effect: Allow
      Action:
        - s3:*
      Resource: "*"
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: "*"
    - Effect: Allow
      Action:
        - 'ssm:GetParameter'
        - 'ssm:GetParameters'
      Resource: "*"
    - Effect: Allow
      Action:
        - 'kms:Decrypt'
      Resource: "*"


functions:
  indexHandler:
    handler: index.handler
    timeout: 8
    memorySize: 128
    description: MAWAQIT Alexa Backend
    events: ${file(eventsources.yml):${self:provider.stage}, file(eventsources.yml):dev}
    versionFunction: false