service: alexa

frameworkVersion: ^4.0.0

custom:
  defaultStage: dev
  defaultRegion: eu-west-3
  alias: ${self:provider.stage}

provider:
  name: aws
  runtime: nodejs22.x
  stage: ${opt:stage, self:custom.defaultStage}
  region: ${opt:region, self:custom.defaultRegion}
  environment:
    SCHEDULER_ROLE_ARN: arn:aws:iam::${aws:accountId}:role/${self:service}-${self:provider.stage}-${self:provider.region}-lambdaRole
    MAWAQIT_ALEXA_SKILL_ID: ${file(env.json):${self:provider.stage}.mawaqitAlexaSkillId}
    STAGE: ${self:provider.stage}
    AWS_ACCOUNT_ID: ${aws:accountId}
    BASE_URL: ${file(env.json):${self:provider.stage}.baseUrl}
    PERSISTENCE_ADAPTER_TABLE_NAME: mawaqit-alexa-user-data-${self:provider.stage}
    SKILL_NAME: MAWAQIT
    S3_BUCKET_NAME: mawaqit-alexa
    AWS_LAMBDA_NODEJS_DISABLE_CALLBACK_WARNING: ${file(env.json):${self:provider.stage}.AWS_LAMBDA_NODEJS_DISABLE_CALLBACK_WARNING}
    AZAN_DYNAMO_DB_TABLE: mawaqit-alexa-azan-users-data-${self:provider.stage}
    UPDATE_INTERVAL_HADITH_WIDGET_IN_HOURS: ${file(env.json):${self:provider.stage}.updateIntervalHadithWidgetInHours}
    SQS_QUEUE_BATCH_SIZE: ${file(env.json):${self:provider.stage}.sqsQueueBatchSize, '10'}
    SQS_QUEUE_URL: { Ref: AlexaAzanQueue }
  lambdaHashingVersion: 20201221

  iamRoleStatements:
    - Effect: Allow
      Action:
        - lambda:InvokeFunction
      Resource: "*"
    - Effect: Allow
      Action:
        - s3:*
      Resource: "*"
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: "*"
    - Effect: Allow
      Action:
        - "ssm:GetParameter"
        - "ssm:GetParameters"
      Resource: "*"
    - Effect: Allow
      Action:
        - "kms:Decrypt"
      Resource: "*"
    - Effect: Allow
      Action:
        - scheduler:*
      Resource: "arn:aws:scheduler:${self:provider.region}:${aws:accountId}:schedule/*"
    - Effect: Allow
      Action:
        - sqs:*
      Resource: "arn:aws:sqs:${self:provider.region}:${aws:accountId}:mawaqit-alexa-azan-queue-${self:provider.stage}"
    - Effect: Allow
      Action:
        - iam:PassRole
      Resource: arn:aws:iam::${aws:accountId}:role/${self:service}-${self:provider.stage}-${self:provider.region}-lambdaRole

functions:
  indexHandler:
    handler: index.handler
    timeout: 9
    memorySize: 128
    description: MAWAQIT Alexa Backend - ${self:provider.stage}
    events: ${file(eventsources.yml):${self:provider.stage}, file(eventsources.yml):dev}
    versionFunction: false

  triggerHandler:
    handler: trigger.handler
    timeout: 900
    memorySize: 128
    description: Lambda will be triggered by EventBridge to send event to Worker Lambda
    versionFunction: false

  workerHandler:
    handler: worker.handler
    timeout: 30
    memorySize: 128
    description: Worker Lambda to process Alexa events from SQS

resources:
  Resources:
    AlexaAzanDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: mawaqit-alexa-azan-dlq-${self:provider.stage}

    WorkerEventSourceMapping:
      Type: AWS::Lambda::EventSourceMapping
      Properties:
        BatchSize: 10
        EventSourceArn:
          Fn::GetAtt:
            - AlexaAzanQueue
            - Arn
        FunctionName:
          Fn::GetAtt:
            - WorkerHandlerLambdaFunction
            - Arn
        FunctionResponseTypes:
          - ReportBatchItemFailures

    AlexaAzanQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: mawaqit-alexa-azan-queue-${self:provider.stage}
        RedrivePolicy:
          deadLetterTargetArn:
            Fn::GetAtt:
              - AlexaAzanDLQ
              - Arn
          maxReceiveCount: 3
    AlexaAzanUsersDataTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: mawaqit-alexa-azan-users-data-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    IamRoleLambdaExecution:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
                  - scheduler.amazonaws.com
              Action: sts:AssumeRole
